<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<section>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Сброс пароля пользователя</div>
                    <div class="card-body">
                        <form id="resetPassword" action="/resetPassword" method="post">
                            <div class="mb-3">
                                <label>Email</label>
                                <label for="email"></label><input type="email" name="email" id="email"
                                                                  th:value="${email}" readonly="readonly"
                                                                  class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label>Введите новый пароль</label>
                                <label for="password"></label><input type="password" id="password" name="password"
                                                                     class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label>Введите новый пароль заново</label>
                                <label for="confirm-password"></label><input type="password" id="confirm-password"
                                                                             name="confirm-password"
                                                                             class="form-control" required>
                            </div>
                            <button class="btn btn-primary col-md-12" type="submit">
                                Подтвердить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>