<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<section>
    <div style="text-align: center;">
        <h1>Главная страница</h1>
    </div>
    <table>
        <tr th:each="realtyObject : ${realtyObjects}">
            <center>
                <div class="card w-50" style="width: 18rem;">
                    <img th:src="${realtyObject.imageUrl}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${realtyObject.name}"/>
                        <p class="card-text" th:text="${'ID объекта: '+realtyObject.id}"/>
                        <p class="card-text" th:text="${'Стоимость: '+realtyObject.price}+'₽'"/>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                th:data-bs-target="${'#'+realtyObject.name}">
                            Посмотреть
                        </button>
                        <div class="modal fade" th:id="${realtyObject.name}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Объект недвижимости
                                            [[${realtyObject.name}]]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        [[${realtyObject.description}]]
                                    </div>
                                    <div class="modal-body">
                                        Площадь: [[${realtyObject.square}]] м2
                                    </div>
                                    <div class="modal-body">
                                        Стоимость: [[${realtyObject.price}]]₽
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Закрыть
                                        </button>
                                        <th:block th:if="${user}==NULL">
                                            <button type="button" class="btn btn-primary"
                                                    onclick="window.location.href='/signIn'">
                                                Купить недвижимость
                                            </button>
                                        </th:block>
                                        <th:block th:if="${user}!=NULL">
                                            <button type="button" class="btn btn-primary"
                                                    th:onclick="'window.location.href=\'/buyRealtyObject/'
                                                    +${realtyObject.id}+'\''">
                                                Купить недвижимость
                                            </button>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </tr>
    </table>
</section>
</body>
</html>