<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)"
      th:replace="base::Layout(~{::section})">
<script th:inline="javascript">
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Покупка объекта недвижимости</div>
                    <!--/*@thymesVar id="msg" type="java"*/-->
                    <th:block th:if="${session.msg}">
                        <p class="text-center text-success fs-4">
                            [[${session.msg}]]
                        </p>
                        <!--/*@thymesVar id="removeSessionMessage" type="java"*/-->
                        <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                    <form th:action="${'/buyRealtyObject'}" method="post">
                        <div class="card-body">
                            <div class="mb-3">
                                <label>ID объекта</label>
                                <label for="realtyObjectId"></label><input type="text" id="realtyObjectId"
                                                                           name="realtyObjectId"
                                                                           class="form-control"
                                                                           th:value="${realtyObject.realtyObjectId}"
                                                                           readonly>
                            </div>
                            <div class="mb-3">
                                <label>Название объекта</label>
                                <label for="realtyObjectName"></label><input type="text" id="realtyObjectName"
                                                                             name="realtyObjectName"
                                                                             class="form-control"
                                                                             th:value="${realtyObject.realtyObjectName}"
                                                                             readonly>
                            </div>
                            <div class="mb-3">
                                <label>Описание</label>
                                <label for="description"></label><input type="text" id="description" name="description"
                                                                        class="form-control"
                                                                        th:value="${realtyObject.description}" readonly>
                            </div>
                            <div class="mb-3">
                                <label>Адрес</label>
                                <label for="address"></label><input type="text" id="address" name="address"
                                                                  class="form-control"
                                                                  th:value="${realtyObject.address}" readonly>
                            </div>
                            <div class="mb-3">
                                <label>Площадь, м2</label>
                                <label for="square"></label><input type="text" id="square" name="square"
                                                                  class="form-control"
                                                                  th:value="${realtyObject.square}" readonly>
                            </div>
                            <div class="mb-3">
                                <label>Стоимость, ₽</label>
                                <label for="price"></label><input type="text" id="price" name="price"
                                                                  class="form-control"
                                                                  th:value="${realtyObject.price}" readonly>
                            </div>
                            <button class="btn btn-primary col-md-12" th:onclick="">
                                Купить объект недвижимости
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>