<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Удаление объектов недвижимости</title>
</head>
<body>
<section>
    <div style="text-align: center;">
        <h1>Главная страница</h1>
    </div>
    <table>
        <tr th:each="realtyObject : ${realtyObjects}">
            <center>
                <form th:action="@{/deleteRealtyObject}" method="post">
                    <div class="card w-50" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${realtyObject.realtyObjectName}"/>
                            <p class="card-text" th:text="${'ID объекта: '+realtyObject.realtyObjectId}"/>
                            <p class="card-text" th:text="${'Цена: '+realtyObject.price}"/>
                            <p class="card-text" th:text="${'Описание: '+realtyObject.description}"/>
                            <p class="card-text" th:text="${'Адрес: '+realtyObject.address}"/>
                            <p class="card-text" th:text="${'Площадь: '+realtyObject.square}"/>
                            <input type="hidden" name="realtyObjectId" id="realtyObjectId"
                                   th:value="${realtyObject.realtyObjectId}" required>
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal">
                                Удалить
                            </button>
                        </div>
                    </div>
                </form>
            </center>
        </tr>
    </table>
</section>
</body>
</html>