<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<section>
    <div class="container">
        <div th:if="${param.success}" class=success-container>
            <div class="alert alert-info text-white">Письмо для сброса пароля отправлено вам.
                Пожалуйста, проверьте категорию "спам", если письмо не отображается!
            </div>
        </div>
        <div th:if="${param.error}" class="error-container">
            <div class="alert alert-info text-white">Срок действия токена закончился. Пожалуйста, нажмите на сброс
                пароля еще раз.
            </div>
        </div>
        <div class="container p-3">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">Сброс пароля</div>
                        <div class="card-body">
                            <form action="/forgotPassword" method="post">
                                <div class="mb-3">
                                    <label>Введите email</label>
                                    <label for="email"></label><input type="email" id="email" name="email"
                                                                      class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary col-md-12">
                                    Отправить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>