<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)"
      th:replace="base::Layout(~{::section})">
<script th:inline="javascript">
</script>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<section>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Регистрация</div>
                    <!--/*@thymesVar id="msg" type="java"*/-->
                    <th:block th:if="${session.msg}">
                        <p class="text-center text-success fs-4">
                            [[${session.msg}]]
                        </p>
                        <!--/*@thymesVar id="removeSessionMessage" type="java"*/-->
                        <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                    <div class="card-body">
                        <form action="/saveUser" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label>Введите ФИО</label>
                                <label for="fullName"></label><input type="text" id="fullName" name="fullName"
                                                                     class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label>Введите email</label>
                                <label for="email"></label><input type="text" id="email" name="email"
                                                                  class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label>Введите пароль</label>
                                <label for="password"></label><input type="password" id="password" name="password"
                                                                     class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label>Подтвердите пароль</label>
                                <label for="confirm-password"></label><input type="password" id="confirm-password"
                                                                             name="confirm-password"
                                                                             class="form-control" required>
                                <span id="passwordError" style="color: red;"></span>
                            </div>
                            <button class="btn btn-primary col-md-12">
                                Зарегистрироваться
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>